:root {

    --dark-green: #598f73;
    --light-green: #c5d8a4;
    --light-beige: #fae9d4;
    --dark-brown: #755851;
    --light-brown: #ad9579;

}

body {
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background-image: url(recetario-banner.png);
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.recipeSearchBar {
    width: 572px;
    height: 83px;
    font-size: 400%;
    font-family: monospace;
    font-weight: normal;
    border: 2px solid black;
    padding-left: 0.5%;
    caret-color: var(--dark-green);
}

.recipeSearchBar:focus,
.recipeSearchBar:hover {
    outline: 2px solid var(--dark-green);
    border: 0px;
}

.recipesList {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.recipeCard {
    width: 100%;
    height: 20vh;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.2);
    transition: border-color 150ms;
    border: 2px solid black;
}

.recipeCard:hover {
    box-shadow: 10px 10px 12px 0 rgba(0, 0, 0, 0.2);
    margin: 19px;
    border-width: 3px;
    border-color: var(--dark-green);
}

.recipeCard:hover h2 {
    text-decoration: none;
    color: var(--dark-green);
}

.recipeCard:hover .recipeImageFrame {
    border: 1px solid var(--dark-green);
}

.recipeContent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.recipeImageFrame {
    border: 1px solid black;
    margin: 20px;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.recipeImage {
    border-radius: 2px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipeText {
    overflow: auto;
    width: 100%;
    height: 100%;
    color: black;
    margin-left: 0px;
    font-size: 21px;
}

.recipeText h2 {
    margin: 0;
    color: black;
    transition-duration: 200ms;
    font-size: xx-large;
}

.recipeText p {
    width: 80%;
    height: 100;
    margin-top: 8px;
    margin-bottom: 8px;
}